html {
}

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96;
}

.navbar {
    z-index: 1000;
    background-color: transparent !important;
}

.navbar .navbar-nav .nav-link {
    color: #fff; /* Set the color of the navigation links */
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: lightgray; /* Set the color of the navigation links when hovered or focused */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

.list-social-icons a {
    color: #495057;
}

.list-social-icons a:hover {
    color: #BD5D38;
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
    color: #BD5D38;
}


section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: auto;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 10rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: #BD5D38 !important;
}

.text-primary {
    color: #BD5D38 !important;
}

a {
    color: #BD5D38;
}

a:hover, a:focus, a:active {
    color: #824027;
}

footer .navbar {
    background-color: #824027 !important
}

footer a {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}